<img [src]="pelicula.fotoPelicula" alt="foto pelicula" />
<form>
  !TODO
      <div class="form-group">
        <label>Nombre</label>
        <input class="form-control">{{ pelicula.nombre }}
      </div>
      <div class="form-group">
        <label>Cantidad Público</label>
        <input class="form-control">{{ pelicula.cantidadPublico }}
      </div>
      <div class="form-group">
        <label>Tipo</label>
        <input class="form-control">{{ pelicula.tipo }}
      </div>
      <div class="form-group">
        <label>Fecha Estreno</label>
        <input class="form-control">{{ pelicula.fechaEstreno }}
      </div>
      <button class="btn btn-danger btn-lg mr-3" (click)="onDelete(pelicula)">Eliminar</button>

</form>
